body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 1%;
  padding: 1%;
}

h1 {
  color: #444;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.add-expense,
.voice-input,
.predict-expense,
.expense-chart,
.view-expense {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1 1 calc(48% - 20px);
  min-width: 280px;
}

.add-expense h2,
.voice-input h2,
.predict-expense h2,
.expense-chart h2,
.view-expense h2 {
  margin-top: 0;
  color: #555;
  border-bottom: 2px solid #eaeaea;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

input,
select {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #eaeaea;
  align-items: center;
}

ul li:last-child {
  border-bottom: none;
}

ul li button {
  background-color: #dc3545;
}

ul li button:hover {
  background-color: #a71d2a;
}

.expense-chart {
  flex: 1 1 calc(48% - 20px);
  text-align: center;
}

.expense-chart canvas {
  max-width: 80%;
  margin: 0 auto;
}

.expense-chart p {
  text-align: center;
  color: #888;
  font-size: 14px;
}

.view-expense p {
  font-size: 14px;
  color: #666;
}

.view-expense h3 {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.voice-input p {
  font-size: 14px;
  color: #666;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .add-expense,
  .voice-input,
  .predict-expense,
  .expense-chart,
  .view-expense {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .expense-chart canvas {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  button {
    font-size: 12px;
    padding: 8px 12px;
  }

  input{
    font-size: 12px;
    padding: 10%;
    max-width: 50%;
  }
  select {
    font-size: 12px;
    padding: 10%;
    max-width: 50%;
  }
}